APP_URL=http://localhost/Trabajo_v2
APP_TIMEZONE=America/Mexico_City
DB_HOST=localhost
DB_PORT=3306
DB_NAME=farmacia_db
DB_USER=root
DB_PASS=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_USE_SANDBOX=1
PAGO_INTERNO_DEMO=0
SMTP_ENABLED=0
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Farmacia Doña Lupe
